##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [2]:
print("Name : Zender \nCity : New York")

Name : Zender
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [ ]:
print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING this area till 7:00 PM")

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [37]:
num1=int(input("input : "))
num2=num1//2
num3=num2//2
num4=num3//2
print(f"output is: {num2} {num3} {num4}")

input : 2000
output is: 1000 500 250

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [7]:
x=float(input("input x"))
y=float(input("input y"))
z=float(input("input z"))
print(x**z, x**y, x-y, x%z)

input x4
input y2
input z8
65536.0 16.0 2.0 4.0

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [10]:
x=(4*0.25)+(3*0.1)+(2*0.05)+0.01
print(f"${x:.2f}")

$1.41

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [11]:
print("Python"[4])

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [13]:
print("Python"[2:5])

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [15]:
print("Python Class"[7:])

Class

9 - Find the length of the String  **Welcome to Pace University**

In [16]:
print(len("Welcome to Pace University"))

26

10 - Split the String  **Welcome to Pace University**  into words

In [17]:
str="Welcome to Pace University"
print(str.split())

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [18]:
str="Artificial Intelligence"
str.replace("i","o")

'Artofocoal Intellogence'

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [21]:
str="DATA Science"
print(str.lower())

data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [ ]:
str="DATA Science"
print(str.upper())

14 - reverse the given String  **Artificial intelligence**

In [34]:
str="Artificial Intelligence"
str=str[::-1]
print(str)

ecnegilletnI laicifitrA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [ ]:
a=150
b=225
if a<b:
  print("a is less than b")

a less than b

###Lists

16 - Create a **list** of **lists** of integers elements

In [35]:
list=[[1,2,3,4,5],[2,4,6,8,10],[5,10,15,20,25]]
print(list)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [5, 10, 15, 20, 25]]

17 - Create a **list** of **lists** of Text elements

In [36]:
list=[["hi"],["my"],["name"],["is"],["Zender"]]
print(list)

[['hi'], ['my'], ['name'], ['is'], ['Zender']]